.cart-container {
  margin: 5vh 2vw 10vh 2vw;
  padding: 20px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  border-radius: 8px;
}

.cart-container h2 {
  color: var(--primary-color);
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}


#products-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 0 0 5vh 0;
}

.product-item {
  display: flex;
  width: 100%; 
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.product-item .product-link {
  display: flex;
  align-items: center;
  width: 100%;
}

.choose-item input[type="checkbox"] {
    
}


.product-item .thumbnail {
  width: 15vw;
  height: auto;
  margin-right: 1rem;
}

.product-item .product-details {
  flex: 1; 
}

.product-item .delete-product-btn {
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; 
}


.total-summary {
  border-top: 2px solid var(--secondary-color);
  padding-top: 20px;
}

.summary-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#checkout-btn, #pay-now-btn {
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

#checkout-btn:hover, .product-item btn:hover, #pay-now-btn:hover {
  background-color: var(--dark);
}

#checkout-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  margin: auto;
  background-color: white;
  width: 50vw;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 1000;
  overflow-y: scroll;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#payment-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}