body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 50px;
    margin: 0 10px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.policy-container {
    padding: 20px;
}

.policy-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--secondary-color);
}

.policy-container h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.policy-container p, .policy-container ul {
    font-size: 1em;
    line-height: 1.6;
}

.policy-container ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}