body {
    margin-top: 18vh;
}

.back-home-button {
    display: block;
    margin: 10px 20px auto 3vw; 
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.back-home-button:hover {
    background-color: var(--white);
    color: var(--primary-color);
    transition: 0.2s;
}

.main {
    margin: 3%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#product-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 3vw 3vh;
}

#product-info {
    display: flex;
    flex-direction: row;
}

#left-section {
    flex: 1;
    margin-right: 20px;
}

#thumbnail {
    width: 23vw;
    margin-bottom: 10px;
    cursor: zoom-in;
    object-fit: cover;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    cursor: zoom-out;
}

.popup-content {
    margin: 20vh auto;
    display: block;
    width: 30vw;
    cursor: none;
}

.popup-content-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 70vw;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.popup-content,
.popup-content-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from { -webkit-transform: scale(0) }
    to { -webkit-transform: scale(1) }
}

@keyframes zoom {
    from { transform: scale(0) }
    to { transform: scale(1) }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


#images img {
    width: 5vw;
    margin: 5px;
    cursor: pointer;
}

#right-section {
    flex: 2;
}

#row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#product-title {
    font-size: 24px;
    margin-bottom: 10px;
}

#rating {
    display: flex;
    gap: 2px;
    margin-bottom: 10px;
    position: relative;
    width: fit-content;
}

.star {
    font-size: 24px;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--secondary-color); 
    display: inline-block;
}

.star.filled {
    color: var(--secondary-color); 
    -webkit-text-stroke: 0;
}

.star.filled.secondary-star {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secondary-color); 
    -webkit-text-stroke: 0; 
    z-index: 1;
    clip-path: inset(0 0 0 50%); 
}


.star.half::before {
    content: '\2605';
    position: absolute;
    color: var(--secondary-color);
    overflow: hidden;
    width: 50%;
    -webkit-text-stroke: 0;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    font-size: 14px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



#stock-info {
    color: red;
    margin-bottom: 10px;
}

#price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#description {
    margin-bottom: 10px;
}

#quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#quantity-controls button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: black;
    background-color: white;
}

#quantity {
    margin: 0 10px;
    font-size: 16px;
}

#min-order-info {
    display: none;
}

#action-buttons {
    display: flex;
    gap: 10px;
}

#action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


#buy-now {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}


#add-to-cart {
    background-color: #f0ad4e;
    color: white;
}


#add-to-wishlist {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

#add-to-wishlist i {
    font-size: 35px;
    transition: all 0.3s ease;
    color: white;
    text-shadow: 
        -1px -1px 0 var(--primary-color),  
        1px -1px 0 var(--primary-color),
        -1px 1px 0 var(--primary-color),
        1px 1px 0 var(--primary-color); 
}

#add-to-wishlist.active i {
    color: var(--primary-color);
    border: none;
}



#reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 20px;
}

.review {
    flex: 1 1 calc(25% - 1.5rem);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: white;
    transition: transform 0.3s ease;
}

.review:hover {
    transform: translateY(-5px);
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-info {
    flex-grow: 1;
}

.user-name {
    font-weight: 700;
    margin: 0;
}

.review-date {
    font-size: 0.8em;
    color: #777;
}

.rating {
    color: var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.review-content {
    font-size: 0.9em;
    line-height: 1.6;
}

@media (max-width: 1200px) {
    .review {
        flex: 1 1 calc(33.333% - 1.5rem);
    }
}

@media (max-width: 900px) {
    .review {
        flex: 1 1 calc(50% - 1.5rem);
    }
}

@media (max-width: 600px) {
    .review {
        flex: 1 1 100%;
    }
}